<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assisticant" version="1.1.4.4" targetFramework="net451" />
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="itzben" version="1.1.1" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
</packages>